<%= form_with url: transactions_revenues_path(@transaction), scope: :transaction do |form| %>
  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>
  <div>
    <%= form.label :date %>
    <%= form.datetime_field :date %>
  </div>
  <%= form.submit %>
<% end %>
